body {
  margin: 0;
  font-size: 100%;
}

body * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

.wf-loading {
/* styles to use when web fonts are loading */
}
.wf-loading .kj-container {
  opacity: 0;
}
 
.wf-active {
/* styles to use when web fonts are active */
}
 
.wf-inactive {
/* styles to use when web fonts are inactive */
}

/*.minion-pro {
  font-family: minion-pro, serif;
}

.adorn-smooth-pomander {
  font-family: adorn-smooth-pomander, sans-serif;
}*/

.main-container {
  text-align: center;
  padding: 15px;
  /*padding-top: 100px;*/
  padding-bottom: 100px;
  font-family: 'Gloria Hallelujah', cursive;
}

p {
  font-size: 20px;
  /*color: #7d7d7d;*/
  color: #005098;
}

#countdown {
  font-size: 200px;
  /*color: #E91E63;*/
  color: rgb(224,234,243);
}

img {
  width: 100%;
  max-width: 600px;
}

.rotate {
  transform: rotate(-8deg);
}

.kj-container {
  font-size: 4em;
  position: relative;
  pointer-events: none;
}

.kj {
  font-family: adorn-smooth-pomander, sans-serif;
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: relative;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .kj-container { font-size: 2.4em; }
}

.kj h1 {
  color: #005098;
  position: relative;
  z-index: 10;
}

.kj-container span {
  font-family: adorn-smooth-pomander, sans-serif;
  color: #e0eaf3;
  position: absolute;
  font-size: 6.4em;
  top: -.29em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.kj .spacer {}

#success {
  display: none;
}

